* {
  --lotto-greyscale-1: #fff;
  --lotto-greyscale-2: #fcfcfd;
  --lotto-greyscale-3: #b4b4b4;
  --lotto-greyscale-4: #8b8b8b;
  --lotto-greyscale-5: #000;
  --lotto-primary: #4e5ba6;
}

#app {
  width: 100%;
  height: 100vh;
}

/* header */
.header {
  height: 4rem;
  background: var(--lotto-primary);
  display: flex;
  align-items: center;
}

.header-nav {
  margin: 0 8.13rem;
}

.header-title-link {
  color: var(--lotto-greyscale-1);
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 2.25rem;
}

/* lotto-game */
.lotto-game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 9rem);
}

.lotto-game-box {
  width: 25.875rem;
  height: 45.4375rem;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: var(--lotto-greyscale-1);
  padding: 2.5rem 1rem 2rem;
}

.lotto-game-title {
  color: var(--lotto-greyscale-5);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 2.25rem;
}

/* buy lotto */
.buy-lotto-form {
  margin: 1.75rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.buy-lotto-input-box {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.buy-lotto-input {
  padding: 0.5rem;
  height: 2.25rem;
  border-radius: 0.25rem;
  border: 1px solid var(--lotto-greyscale-3);
  width: 100%;
}

.buy-lotto-submit-button {
  width: 3.5rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.25rem;
  background: var(--lotto-primary);
  color: var(--lotto-greyscale-1);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 0.07813rem;

  &:disabled {
    background: var(--lotto-greyscale-4);
    cursor: not-allowed;
  }
}

/* lotto ticket */

.lotto-ticket-box {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
  height: 23.4375rem;
}

.lotto-ticket-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
}

.lotto-ticket-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* footer */
.footer {
  height: 5rem;
  border-top: 1px solid rgba(78, 91, 166, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-text {
  color: var(--lotto-primary);
  text-align: center;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 0.07813rem;
}
